extends layout

block content
    ul.nav
        li.nav-item 
            a.nav-link.active(href="mqttconnect") Conectarte a un servidor MQTT
        li.nav-item
            a.nav-link(href="mqtt") Enviar un mensaje MQTT
            

