extends layout

block content 
    div(class="container-fluid")
        div(class="row")
            div(class="col-12")
                h1.d-flex.justify-content-center Conectar a un servidor web de MQTT
        div(class="row")
            div(class="col-12")
                div.d-flex.justify-content-center
                    from
                        .form-group
                            label(for="server") Servidor
                            input#server.form-control(type="text", aria-describedby="server", placeholder="servidor")
                            small#topiclHelp.form-text.text-muted m14.cloudmqtt.com

                        .form-group
                            label(for="user") Usuario
                            input#user.form-control(type="text", aria-describedby="user", placeholder="usuario")
                            small#topiclHelp.form-text.text-muted uunzjmch

                        .form-group
                            label(for="password") Contraseña
                            input#password.form-control(type="password", aria-describedby="password", placeholder="contraseña")
                            small#topiclHelp.form-text.text-muted RgPHGGAP9ETa

                        .form-group
                            label(for="port") Puerto
                            input#port.form-control(type="text", aria-describedby="port", placeholder="port")
                            small#topiclHelp.form-text.text-muted 11253


                        button#connect.btn.btn-success(type="submit") Conectar
    script(src="/javascripts/mqttconnect.js")