extends layout

block content 
    div(class="container-fluid")
        div(class="row")
            div(class="col-12")
                h1.d-flex.justify-content-center| Envio de datos a un Topic
        div(class="row")
            div(class="col-12")
                div.d-flex.justify-content-center
                    from
                        .form-group
                            label(for="topic") Topico
                            input#topic.form-control(type="text", aria-describedby="mensaje", placeholder="topico")
                            small#topiclHelp.form-text.text-muted identificara su mensaje en broker
                        .form-group
                            label(for="topic") Mensaje
                            input#message.form-control(type="text", aria-describedby="mensaje", placeholder="mensaje")
                            small#messagelHelp.form-text.text-muted Mensaje que recibira el cliente

                        button#send.btn.btn-primary(type="submit") Enviar
    script(src="/javascripts/mqtt.js")